body {
    background-image: url('../images/parks-and-recreation-wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #81A161;
}

.hidden {
    display: none;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark a {
    color: aliceblue;
}

#brandLogo {
    font-size: 50px;
}


#startButton {
    width: 100px;
    height: 100px;
    position: relative;
    left: 30rem;
    top: 15rem;
}

#startButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 36%;
    border: 1px solid aqua;
    background: transparent;
}

#countdownClock {
    text-align: right;
    display: block;
}

.card-header {
    font-size: 30px;
}

.btn-group-lg {
    width: 20rem;
    height: 15rem;
    margin-top: 30px;
    /* vertical-align: middle; */
}

.card-text {
    margin-bottom: 16rem;
    height: 30rem;
}

#questionHero {
    font-size: 25px;
}

#countdownClock {
    font-size: 25px;
}

#questionCorrect {
    font-size: 20px;
}

#questionTimeUp {
    font-size: 45px;
}

.hidden:hover {
    display: block;
}

*/